body {
  background-color: #000;
  color: #FFF;
  font-size: 12;
}

#textArea {
  width: 99%;
  height: 4em;
  font-size: 2em;
}

#myDiv {
  font-size: 4em;
  white-space: pre-wrap; /*to render newlines when i press enter*/

}